<ion-view view-title="About">
  <ion-content class="padding">
    <h2>Bienvenido a Jura</h2>
    <a class="button help-button button-icon icon ion-help" ng-click="data.help = !data.help"></a>

    <p>El objetivo de la aplicación es proporcionar al usuario las herramientas necesarias para que conozca sus derechos y obligaciones como ciudadano.
    Esta aplicación contiene el reglamento de tránsito de Nuevo León asi como las implicaciones de cada artículo.
    El principal atractivo de la aplicación es que existe un diagrama de flujo para saber cómo actuar en caso de un retén policiaco, accidente o cualquier siniestro referente al tránsito.
</p>

<p> App creada por Jorghe Ayala</p>

  </ion-content>
</ion-view>
