<ion-view view-title="Reglamento">
  <ion-content class="padding">

    <div class="navigation">
      <i class="ion-home" ng-click="goHome()"></i>
      <div class="nav-current">Reglamento</div>
    </div>

    <input type="text" name="search" placeholder="¿Qué estas buscando?">
    <div class="panel-main"  ng-click="verWorkflow()">
      <i class="ion-arrow-swap"></i>
      Cómo actuar
      <p class="panel-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus purus et magna vulputate, cursus auctor dolor egestas. Praesent eleifend tincidunt est commodo venenatis. Morbi nec enim ac sem fermentum efficitur eu at nisi. Sed id congue risus. Pellentesque quis dolor vel tortor malesuada dapibus. Morbi ultrices viverra augue id elementum.
      </p>
    </div>
    <div class="panel-wrapper">
      <div class="panel-secondary" ng-click="verReglamento()" >
        <i class="ion-paper-airplane"></i>
        Reglamento
        <p class="panel-description">
          Ver reglamento de Tránsito
        </p>
      </div>
      <div class="panel-secondary">
        <i class="ion-grid"></i>
        Ver reglamento por temas

      </div>
      <div class="panel-secondary">
        <i class="ion-android-textsms"></i>
        Foros de discusión
        <p class="panel-description">
          Ver reglamento de Tránsito
        </p>
      </div>
      <div class="panel-secondary">
        <i class="ion-arrow-swap"></i>
        Ver tips de Reglamento

      </div>
    </div>
  </ion-content>
</ion-view>
