<ion-view view-title="Reglamento">
  <ion-content class="padding">

    <div class="navigation">
      <i class="ion-home nav-item" ng-click="goHome()"></i>
      <png-click="data.show = !data.show" style="display:inline-block;margin:auto;">Reglamento</p>
    </div>
    <a class="button help-button button-icon icon ion-help" ng-click="data.help = !data.help"></a>

      <!-- {{data.show}} -->
    <input type="text" name="search" placeholder="¿Qué estas buscando?">
    <div class="panel-main"  ng-click="verWorkflow()">
      <div class="help-button" ng-show="data.help" ng-click="help(0);$event.stopPropagation()"><i class="ion-help"></i></div>
      <i class="ion-arrow-swap"></i>
      Cómo actuar
      <p class="panel-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="panel-wrapper">
      <div class="panel-secondary" ng-click="verReglamento()" >
        <div class="help-button" ng-show="data.help" ng-click="help(1);$event.stopPropagation()"><i class="ion-help"></i></div>
        <i class="ion-paper-airplane"></i>
        Reglamento
        <p class="panel-description">
          Ver reglamento de Tránsito
        </p>
      </div>
      <div class="panel-secondary">
        <div class="help-button" ng-show="data.help" ng-click="help(2);$event.stopPropagation()"><i class="ion-help"></i></div>

        <i class="ion-grid"></i>
        Ver reglamento por temas

      </div>
      <div class="panel-secondary">
        <div class="help-button" ng-show="data.help" ng-click="help(3);$event.stopPropagation()"><i class="ion-help"></i></div>

        <i class="ion-android-textsms"></i>
        Foros de discusión
        <p class="panel-description">
          Ver reglamento de Tránsito
        </p>
      </div>
      <div class="panel-secondary">
        <div class="help-button" ng-show="data.help" ng-click="help(4);$event.stopPropagation()"><i class="ion-help"></i></div>

        <i class="ion-arrow-swap"></i>
        Ver tips de Reglamento

      </div>
    </div>
  </ion-content>
</ion-view>
