<ion-view view-title="Cómo actuar">
  <ion-content>
    <div class="loading" ng-if="!databaseResolved"></div>

    <div class="pregunta">

      <div class="topmenu">
        <i class="ion-close-round close"></i>
        <div class="help-button"><i class="ion-help help" ng-click="showHelp(); $event.stopPropagation()"></i></div>
      </div>

      <div class="pregHeader">{{preguntas[rutaseleccionada.current].titulo}}</div>
      <div class="pregdescripcion" ng-if="showDetail">{{preguntas[rutaseleccionada.current].descripcion}} </div>
      <div class="resContainer">
        <div class="respuestaButton" ng-if="rutaseleccionada.si" ng-click="respuestaSi()">Si</div>
        <div class="respuestaButton" ng-if="rutaseleccionada.no" ng-click="respuestaNo()">No</div>
        <div class="respuestaButton" ng-if="rutaseleccionada.nose" ng-click="respuestaNoSe()">No sé</div>
      </div>
      <div class="respuestaButton floatRight" ng-click="showDetail = !showDetail">...</div>

      </div>
    </div>
    <div class="complemento">
      <ul>
        <li ng-repeat="complemento in complementos">{{complemento.tag}}</li>
      </ul>
      {{rutaseleccionada.complementos}}
    </div>


  </ion-content>
</ion-view>
