.workflow {
  display:block;
}
.workflow-item {
  color: green;
}
.workflow-head {
  padding:5px;
  margin:20px;
  display:block;
  font-size: 2em;
}
.workflow-content {
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  color: black;
  font-size: 15px;
}
div.workflow-footer{
  position:absolute;
  width:90%;
  bottom:0;
}
.workflow-footer > i {
  color: black;
  float:right;
  display: block;
  font-size: 20px;
}
.workflow-button {
  color: #ccc;
}
